.filtersCotainer{
    margin: 0 auto;
    border: 1px solid red;
    max-width: 80rem;
    z-index: 9;
    position: relative;
}

.filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
}