.container{
    background-image: url(https://i.pinimg.com/originals/e5/2d/57/e52d573ea72014060136bea750762d6e.png);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    z-index: -1;
   
}

.agentCard{
    display: block;
    width: 300px;
    height: 400px;
    margin: 1rem 1rem;
    border: 2px solid #133052;
    text-align: center;
    background-size: 100%;
    z-index: 1;
    cursor: pointer;
}



.agentCardSeeAll{
    display: block;
    width: 300px;
    height: 400px;
    border: 2px solid #133052;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E13157;
    font-family: 'Poppins' ;
    font-weight: 700;
    font-size: 1.5rem;
}

.agentCardSeeAll svg{
    margin: 0 .5rem;
}


.agentCard p{
    color: white;
    font-family: 'Poppins' ;
    font-weight: 700;
    font-size: 1.5rem; 
    
}
