.container{
    background-image: url(https://i.pinimg.com/originals/e5/2d/57/e52d573ea72014060136bea750762d6e.png);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    z-index: -1;
   
}

.agentCard{
    display: block;
    width: 300px;
    height: 400px;
    margin: 1rem 1rem;
    border: 2px solid #133052;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/a9/94/d9/a994d91c5d89aca55b8231879dd7c9d0.png);
    background-size: 100%;
    z-index: 1;
    cursor: pointer;
   
}

.agentCard p{
    color: white;
    font-family: 'Poppins' ;
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    bottom: -20rem;
    display: flex;
    flex-direction: column;   
    
}
