.headerBackgroundHome{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000000;
    background: black;
    background-image: url(../../Assets/images/Background.png);
    height: 45rem;
    padding-top: 1.5rem;

}


.agentBackgroundHome{
 
    background-image: url(../../Assets/images/valorant-ep1-ato3-publi.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.BackgroundHome{
    background-color: #0D161F;
    opacity: 1;
    background-image: url(../../Assets/images/valorant-game-logo-4k-wi-2048x2048.png);
    background-repeat: no-repeat;
    background-size: cover;

}

