
.headerBackgroundHome{
    width: 100%;
    height: 45rem;
    padding-top: 1.5rem;
    background-image: url(../../Assets/images/Background.png);
    position: relative;
  
}

.headerBackgroundHome::before{
    z-index: 0;
    background: linear-gradient(0deg, rgba(12,21,29,1) 0%, rgba(0,0,0,0.16880255520176823) 50%, rgba(0,0,0,0) 100%);
    content: '';
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
}


.agentBackgroundHome{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #0D161F;
    padding-top: 3rem;
    
    

}

.agentBackgroundHome::before{
    content: " ";
    background-image: url(../../Assets/images/valorant-ep1-ato3-publi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}




.BackgroundHome{
    background-color: #0D161F;
    opacity: 1;
    background-image: url(../../Assets/images/valorant-game-logo-4k-wi-2048x2048.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    

}



