.modalBack{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;
}

.modalContainer{
    display: flex;
    background-color: white;
    width: 75%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    position: relative;
    
}

.modalXClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modalLeft {
    margin: 0 auto;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .modalLeft h3 {
    color: #e13157;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  
  .modalLeft h1 {
    color: #133052;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.37em;
    font-weight: bold;
  }
  
  .modalLeft p {
    color: #133052;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
  }

  .modalRight {
    display: flex;
    max-width: 30em;
    justify-content: center;
    height: 100%;
  }
  

