@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&family=Spectral:wght@700&display=swap');

.header{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
    background: black;
    background-image: url(../../Assets/images/Background.png);
    height: 45rem;
    padding-top: 1.5rem;

    
}

.nav{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
    font-family: Poppins;
    font-size: .875rem;
    text-transform: uppercase;
    background: url();
    border-bottom: 1px solid #ccc;
    
}

.nav a{
    color: white;
}

.nav a:hover,
.nav a:focus{
    color: #E13157;
}

.navlinks a{
    padding: 0 1.5rem;
}

.valorant{
    margin: 0 auto;
    position: relative;
    bottom: -31rem;
    
}
