@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&family=Spectral:wght@700&display=swap');

.header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 75px;
    z-index: 9;
    position: relative;
}


.nav{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
    font-family: Poppins;
    font-size: .875rem;
    text-transform: uppercase;
    background: url();
    z-index: 1;
    
    
}

.nav a{
    color: white;
}

.nav a:hover,
.nav a:focus{
    color: #E13157;
}

.navlinks a{
    padding: 0 1.5rem;
}

.valorant{
    margin: 0 auto;
    position: relative;
    bottom: -31rem;
    
}
